* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box {
    margin: 0em;
    border: 2px #000;
    padding: 1em;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}
:root {
    --primary-color: #9ACD32; /* Yellow Green */
    --secondary-color: #C0C0C0; /* Silver */
    --accent1-color: #4169E1; /* Royal Blue */
    --accent2-color: #FFD700; /* Gold */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: 120px, 1fr, 1fr, 1fr, 1fr;
    align-items: center;

}
header {
    display: flex;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    justify-content: space-evenly;
}

header img {
    grid-column: 1/2;
    margin: 1em;
}
nav {
    padding 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}
ul {
    display: flex;
    list-style: none;
    grid-column: 2/3;
}
header img {
    display: grid;
    grid-column: 1/2;
}

nav a{
    display: grid;
    padding: 0em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--accent1-color);
    grid-column: 3/5;
}



body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, .grid, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    display: block;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}



.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
}

article {
    position: absolute;
    display: block;
    background-color: var(--secondary-color);
    opacity: 0.7;
    width: 100%;
    bottom: 10px;
    color: #000;
}
.hero article img {
    float: right;
    width: 125px;
}