* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box {
    margin: 0em;
    border: 2px #000;
    padding: 1em;
    color: var(--accent1-color);
}
:root {
    --primary-color: #9ACD32; /* Yellow Green */
    --secondary-color: #C0C0C0; /* Silver */
    --accent1-color: #4169E1; /* Royal Blue */
    --accent2-color: #FFD700; /* Gold */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1em;
}

header img {
    width: 150px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;

}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, .grid, footer, .history, .adventures {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    display: block;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 840px;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    
}

.normalhead {
    width: 840px;
    text-align: center;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    display: block;
    background-color: var(--secondary-color);
    opacity: 0.7;
    width: 100%;
    bottom: 10px;
    color: #000;
}
.hero article img {
    float: right;
    width: 125px;
}


.history {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 1em;
  align-items: center;
  padding: 2em;
  background: #f5f5f5;
}

.history h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 1em;
  font-family: var(--heading-font);
  background-color: var(--accent1-color);
  color: #FFF;
}


.adventures {
  text-align: center;
  padding: 2em;
}

.adventures h2 {
  margin-bottom: 1em;
  font-family: var(--heading-font);
  background-color: var(--accent1-color);
  color: #FFF;
}

.adventures .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.adventures figure {
  text-align: center;
  margin: 1em;
}

.adventures img {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.offering {
  text-align: center;
  padding: 2em;
  background-color: var(--secondary-color);
}

.offering h2 {
  margin-bottom: 1em;
  font-family: var(--heading-font);
  background-color: var(--accent1-color);
  color: #FFF;
}

.offering .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.offering figure {
  text-align: center;
  margin: 1em;
}

.offering img {
  width: 100%;
  height: auto;
  max-width: 150px;
  padding: .1rem;
  margin: 0 auto;
  display: block;
 
}

.featuredtrips {
  text-align: center;
  padding: 2em;
}

.featuredtrips h2 {
  margin-bottom: 1em;
  font-family: var(--heading-font);
  background-color: var(--accent1-color);
  color: #FFF;
}

.featuredtrips .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.featuredtrips figure {
  text-align: center;
  margin: 1em;
}

.featuredtrips img {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.figcaphead {
    font-size: large;
    font-weight: bold;
    padding: 1rem;
}

h1 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    
}

.address {
    text-align: center;
    color:#000;
    text-decoration: none;
    line-height: 0;
}

.mapform {
display: grid;
grid-template-columns: 1fr 1fr;
}


.map {
    grid-column: 1;
    gap: 1rem;
}



.form  {
    grid-column: 2;
    background-color: #fff;
    color: #000;
}

.form-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: .5rem;
}

.form-item textarea {
    display: grid;
    grid-column: span;
}
.purpose {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 0 30px #eee;
}

.calltoaction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.calltoaction img {
    max-width: 250px;
    margin: 1rem;
}

.actioncontact {
    align-items: center;
    text-align: center;
}

.calltoaction a {
    padding: .5rem;
    font-family: var(--heading-font);
    font-size: large;
    text-decoration: none;
    background-color:navy;
    color: #fff;
    border-radius: .5rem;
}

.actionconfeature {
    display: grid;
    grid-template-columns: 230px auto;
    align-items: center;
    text-align: center;
}

.actioncontact {
    padding: 1rem;
    background-color: var(--secondary-color)
    

}

.actioncontact a {
    padding: .5rem;
    font-family: var(--heading-font);
    font-size: large;
    text-decoration: none;
    background-color:navy;
    color: #fff;
    border-radius: .5rem;
}

.actioncontact img {
    max-width: 150px;
    align-items: center;
}
.triplist h2 {
  margin-bottom: 1em;
  font-family: var(--heading-font);
  text-align: center;
  background-color: var(--accent1-color);
  color: #FFF;
}
h3 {
    padding: 1rem;
}
.calltoaction p {
    font-family: var(--heading-font);    
    font-size:xx-large;
}

.action {
    grid-column: 1;
    gap: 1rem;
}

.subform  {
    grid-column: 2;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-bottom: #000;
    border-style:solid;

}


.employees {
  display: block;
    text-align: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-color: #000;
  border-width: 3px;
  padding: 2em;
}

.employees h2 {
  margin-bottom: 1em;
  font-family: var(--heading-font);
  background-color: var(--accent1-color);
  color: #FFF;
}

.employees .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.employees figure {
  text-align: center;
  margin: 1em;
}

.employees img {
  width: 100px;
  height: auto;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
  color: #000;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


}

footer{
    display: flex;
    align-items: center;
} 

footer a {
    
    margin: 1em;
    width: 30px;
    height: auto;

}