* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box {
    margin: 0em;
    border: 2px #000;
    padding: 1em;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}
:root {
    --primary-color: #9ACD32; /* Yellow Green */
    --secondary-color: #C0C0C0; /* Silver */
    --accent1-color: #4169E1; /* Royal Blue */
    --accent2-color: #FFD700; /* Gold */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1em;
}

header img {
    width: 150px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;

}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--accent1-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, .grid, footer, .history, .adventures {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    display: block;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

.hero img {
    display: block;
    width: 840px;
    height: auto;
}

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    
}



article {
    position: absolute;
    display: block;
    background-color: var(--secondary-color);
    opacity: 0.7;
    width: 100%;
    bottom: 10px;
    color: #000;
}
.hero article img {
    float: right;
    width: 125px;
}


.history {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 1em;
  align-items: center;
  padding: 2em;
  background: #f5f5f5;
}

.history h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 1em;
  font-family: var(--heading-font);
  background-color: var(--accent1-color);
  color: #FFF;
}


.adventures {
  text-align: center;
  padding: 2em;
}

.adventures h2 {
  margin-bottom: 1em;
  font-family: var(--heading-font);
  background-color: var(--accent1-color);
  color: #FFF;
}

.adventures .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.adventures figure {
  text-align: center;
  margin: 1em;
}

.adventures img {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

footer{
    display: flex;
    align-items: center;
} 

footer a {
    
    margin: 1em;
    width: 30px;
    height: auto;

}
